@model IEnumerable<POS_MVC.Models.stock_in_products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_buy_pric)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_sell_default_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additional_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_in_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avail_stock_products.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loc_stock_location.stock_location_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_in.stock_in_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier.supplier_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_buy_pric)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_sell_default_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additional_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_in_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avail_stock_products.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loc_stock_location.stock_location_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_in.stock_in_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier.supplier_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.stock_in_products_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.stock_in_products_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.stock_in_products_id })
        </td>
    </tr>
}

</table>
